<div class="row">
  <div class="col-sm-3">
    <form action="/tunnel" method="post">
    <p class="display-6">Add tunnel</p>
    <label for="tunnel-type" class="form-label">Select tunnel type</label>
    <select class="form-control" name="tunnel-type">
      <option>socks</option>
      <option>http</option>
    </select>
    <label for="inbound" class="form-label">Select inbound ip</label>
    <select class="form-control" name="inbound">
    <% @addresses.each do |address| %>
      <option><%= address %></option>
    <% end %>
    </select>
    <label for="outbound" class="form-label">Select outbound ip</label>
    <select class="form-control" name="outbound">
    <% @addresses.each do |address| %>
      <option><%= address %></option>
    <% end %>
    </select>
    <label for="user" class="form-label">Select user</label>
    <select class="form-control" name="tunnel_user">
    <% @users.each do |user| %>
      <option><%= user %></option>
    <% end %>
    </select>
    <label for="port" class="form-label">Enter port</label>
    <input type="text" class="form-control" name="port" placeholder="Port number">
    <input type="submit" class="btn btn-primary mt-2">
    </form>
  </div>
  <div class="col-sm-9">
    <% index_counter = 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type/th>
          <th scope="col">Inbound</th>
          <th scope="col">Outbound</th>
          <th scope="col">User</th>
          <th scope="col">Port</th>
          <th scope="col">$</th>
        </tr>
      </thead>
      <tbody>
        <% @tunnels.each do |tunnel| %>
        <tr>
          <th scope="row"><%= index_counter += 1 %></th>
          <td><%= tunnel[:type] %></td>
          <td><%= tunnel[:inbound] %></td>
          <td><%= tunnel[:outbound] %></td>
          <td><%= tunnel[:username] %></td>
          <td><%= tunnel[:port] %></td>
          <td><a href="/tdelete/<%= index_counter %>" class="btn btn-primary">delete</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
